.baseMessage {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.baseMessage p {
  margin: 0;
}

.username {
  font-weight: bold;
}

.myUserMessage {
  background-color: #81da81cc;
}

.otherUserMessage {
  background-color: #ecec55cc;
}

.statusLabel {
  display: table !important;
  margin: 5px auto !important;
}
