.container {
  height: 58px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid white;
}

.usernameHolder {
  height: min-content;
  margin: auto 0;
}

.username {
  cursor: pointer;
  margin-right: 3px;
}

.nameTag {
  font-weight: bold;
}

.usernameForm {
  display: inline-flex;
}

.container button {
  margin: 0 !important;
}
