.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid white;
}

.usernameHolder {
  height: min-content;
  margin: auto 0;
}

.nameTag {
  font-weight: bold;
}

.container button {
  margin: 0 !important;
}
